.card {
    min-height: 364px;
    max-width: 224px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.08));
    background-color: #FFFFFF;
    border-radius: 12px;
    text-decoration: none;
}

.card-skeleton {
    min-height: 364px;
    max-width: 224px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.08));
    background-color:  #F8F8F8;
    border-radius: 12px;
    text-decoration: none;
}


.card__price {
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding-left: 12px;
    color: #2C2C2C;
}

.card__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    padding-left: 12px;
    color: #2C2C2C;
}

.card__adress {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
    padding-left: 12px;
}

.card__span {
    border-radius: 8px;
    position: absolute;
    top: 11px;
    left: 65px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    padding: 5px 8px 5px 8px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    z-index: 10;
    color: #2C2C2C;
}

.card__data {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
    padding-right: 12px;
    text-align: -webkit-right;
}

.card__container {
    display: flex;
    justify-content: space-between;
    color: #8F8F8F;
    padding-bottom: 19px;
}

.card__icon {
    height: 22px;
    width: 23px;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 75px;
    right: 15px;
    padding: 0;
}

.card__icon-svg {
    height: 19px;
    width: 20px;
    fill: #C7C7C7;

}

.card__icon-svg:hover {
    height: 22px;
    width: 23px;
    fill: #A4A4A4;
}

.card__icon-svg_active {
    fill: #00A0AB;
}